<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
    <div class="wrap">
        <div class="sheet-header flexrow">
            <div class="portrait flex1 center">
                <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
            </div>
            <div class="header-fields flex5">
                <div class="logo"></div>
                <div class="details flexrow">
                    <input class="field-value sans" name="name" type="text" value="{{actor.name}}" placeholder="Name" data-dtype="String"/>
                </div>
                {{!-- Sheet Tab Navigation --}}
                <nav class="sheet-tabs tabs" data-group="primary">
                    <a class="item" data-tab="main">{{localize "RM.ui.tabs.main"}}</a>
                    <a class="item" data-tab="description">{{localize "RM.ui.tabs.description"}}</a>
                </nav>
            </div>
        </div>
        {{!-- Sheet Body --}}
        <section class="sheet-body">
            {{!-- Main Tab --}}
            <div class="tab main" data-group="primary" data-tab="main">
                {{> "systems/rmc5/templates/actors/parts/actor-stats-partial.hbs"}}
                {{> "systems/rmc5/templates/actors/parts/actor-skills-partial.hbs"}}
            </div>
            {{!-- Biography Tab --}}
            <div class="tab flexrow description active" data-group="primary" data-tab="description">
                {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
            </div>
        </section>
    </div>
</form>